<div class="container flipInY mt-3">

    <div class="row align-items-center mb-2">

        <div class="col-2">

            <i class="fas fa-caret-left fa-2x" (click)="back()"></i>

        </div>

        <div class="col text-center">

            <h2>{{ title }}</h2>

        </div>

        <div class="col-3 text-center" [ngClass]="{'alternate-theme': alternate}">

            <button mat-mini-fab color='primary'>

            <i class="fas fa-tag icons-size" [ngStyle]="{'color': tag}"></i>

            </button>

            <div class="d-flex justify-content-between justify-content-md-center mt-3">

                <i class="fas fa-square" id="tag0" (click)="selectTag('#ffffff')"></i>

                <i class="fas fa-square mx-2" id="tag1" (click)="selectTag('#c7c700b3')"></i>

                <i class="fas fa-square" id="tag2" (click)="selectTag('#ff0000b3')"></i>
            </div>
        </div>
    </div>

    <form class="d-flex justify-content-between">

        <mat-form-field class="width-input">


            <input class="input" autofocus matInput placeholder="Articulo" type="text" #name id="nameText">

        </mat-form-field>

        <mat-form-field class="width-input">

            <input class="input" matInput placeholder="Cantidad" type="number" #quantity (keyup.enter)="createItem(name.value , quantity.value , unity.value)">

        </mat-form-field>

        <mat-form-field class="width-input">

            <mat-label>Unidad</mat-label>

            <mat-select #unity>

                <mat-option *ngFor="let unity of unities; let i=index" [value]='unity'>
                    {{ unity }}
                </mat-option>

            </mat-select>
        </mat-form-field>
    </form>


    <div *ngIf="!noLoading">

        <div class="text-center">

            <div class="spinner-border" role="status">

            </div>
        </div>
    </div>

    <div *ngIf="noLoading">

        <div class="row mb-3 mx-1 align-items-center justify-content-between" *ngFor="let item of items; let i=index">

            <mat-checkbox name="Terminado" [(ngModel)]="item.finished" (change)="editItem(i , item , 2 )">
            </mat-checkbox>

            <div class="pointer" [ngClass]="{'check': item.finished}" (click)='editItem(i , item , 0)'>{{ item.name }}</div>

            <div class="pointer" [ngClass]="{'check': item.finished}" (click)='editItem(i , item , 1)'>{{ item.quantity }}{{ item.unity }}</div>

            <div *ngIf="item.finished">

                <div [ngClass]="{'alternate-theme': alternate}">

                    <button mat-mini-fab color='warn' (click)='delItem(i ,item)'>
    
                            <i class="fas fa-trash icons-size"></i>
                        
                        </button>
                </div>
            </div>
        </div>

        <google-map [center]="latLng" width="100%">

            <map-marker [position]="latLng" [title]="title"></map-marker>

        </google-map>
    </div>
</div>