<div class="container flipInY2">

    <div class="row justify-content-between pt-3 px-3" [ngClass]="{'alternate-theme': alternate}">

        <h1 class="sm-title">¡ Hola {{ userName }} !</h1>

        <button mat-mini-fab (click)='disconnect()' color='accent'>
    
                    <i  class="fas fa-sign-out-alt icons-size" ></i>
    
                </button>
    </div>

    <div *ngIf="!noLoading">

        <div class="text-center">

            <div class="spinner-border" role="status">

            </div>
        </div>
    </div>

    <div class="mt-5 mb-4" *ngIf="noLoading">

        <div class="row justify-content-around justify-content-md-center mb-3">

            <div class="d-flex justify-content-center" (click)='showPend = !showPend' data-toggle='collapse' data-target='#pending'>

                <i class="fas fa-clipboard-list fa-3x mx-2" [ngClass]="{'list-icon': showPend}"></i>

                <span matBadgeColor='accent' [ngClass]="{'alternate-theme': alternate}" [matBadge]='pendingLength'></span>

            </div>

            <div class="margin-create" [ngClass]="{'alternate-theme': alternate}">

                <button mat-mini-fab (click)="createList()" color='primary'>
                            
                            <i class="fas fa-plus icons-size"></i>
                            
                        </button>
            </div>

            <div class="d-flex justify-content-center" (click)='showFin = !showFin' data-toggle='collapse' data-target='#complete'>


                <i class="fas fa-clipboard-check fa-3x mx-2" [ngClass]="{'list-icon': showFin}"></i>

                <span matBadgeColor='accent' [ngClass]="{'alternate-theme': alternate}" [matBadge]='lists.length - pendingLength'></span>

            </div>
        </div>

        <div class="row">

            <div class="col-6">

                <div class="collapse" id="pending">

                    <div *ngFor="let list of lists; let i=index">

                        <div *ngIf="!list.finished" class="d-flex justify-content-between align-items-center mx-0 my-3 ">

                            <mat-checkbox class="pt-1" [(ngModel)]="list.finished" (change)='changeCheck(list.listId , list.finished)'></mat-checkbox>

                            <div class="pointer" (click)="openList(i , list.finished)"> {{ list.title }} <i class="fas fa-tag ml-1" [ngStyle]="{'color': list.tag}"></i></div>

                            <div [ngClass]="{'alternate-theme': alternate}">

                                <button mat-mini-fab color='primary' (click)='editList(i , list)'>
                
                                            <i class="far fa-edit icons-size"></i>
                
                                        </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6">

                <div class="collapse" id="complete">

                    <div *ngFor="let list of lists; let i=index">

                        <div class="d-flex justify-content-between align-items-center my-3 mx-0 " *ngIf="list.finished">

                            <div class="pt-1" [ngClass]="{'alternate-theme': alternate}">

                                <mat-checkbox [(ngModel)]="list.finished" (change)='changeCheck(list.listId , list.finished)'></mat-checkbox>

                            </div>

                            <div [@finished] [ngClass]="{'check': list.finished}" (click)="openList(i , list.finished)"> {{ list.title }} <i class="fas fa-tag" [ngStyle]="{'color': list.tag}"> </i></div>

                            <div [ngClass]="{'alternate-theme': alternate}">

                                <button mat-mini-fab color='warn' (click)='deleteList(i ,list)'>
            
                                        <i class="fas fa-trash icons-size"></i>
                                    
                                    </button>
                            </div>
                        </div>
                    </div>

                    <div class="my-3 text-center" [ngClass]="{'alternate-theme': alternate}">

                        <button mat-mini-fab color='warn' (click)="deleteList()">
            
                                <i class="fas fa-times-circle icons-size"></i>
            
                            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="modalMap" tabindex="-1" role="dialog">

        <div class="modal-dialog modal-dialog-centered" role="document">

            <div class="modal-content">

                <google-map (mapClick)="setMarker($event)" [center]="center" width="100%">

                    <map-marker *ngIf="markerIndex !== undefined" [position]='markerIndex'></map-marker>

                </google-map>
            </div>
        </div>
    </div>

    <google-map *ngIf="noLoading" [center]="center" width="100%">

        <map-marker *ngFor="let list of lists , let i=index" [position]="list.latLng" [title]="list.title" (mapClick)="openList(i , list.finished)">
        </map-marker>

    </google-map>
</div>